.content{
    display: flex;
    align-items: center;
    background-color: #ececec;
    justify-content: center;
    border: 1px solid #e1e8ed;
}
 img{
    width: 100%;
}
.contentContainer{
    width: 1000px;
    max-width: 90%;
}
.contentItemSection{
    display: flex;
    margin-bottom: 14px;
    margin-top: 14px;
}

@media screen  and (max-width:636px){
    .contentItemSection{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

.contentItemSection .ratingContent ,.contentItemSection .highlightContent{
    margin-right: 18px;
    align-items: center;
    display: flex;
}

@media screen and (max-width:459px) {
    .ratingContent{
        flex-direction: column;
    }
}

.highlightContent strong{
    padding-right: 7px;
}

.highlightContainer{
    display: flex;
}
@media screen and (max-width:639px) {
    .highlightContainer{
        display: flex;
        flex-direction: column;
    }
}

.ratingStar{
    margin-right: 18px;
}
.contentBody{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentBodyWrapper{
    width: 1000px;
    max-width: 90%;
    padding-top: 20px;

}

.gridContainer{
    display: grid;
    grid-template-columns: 8fr 4fr;
    grid-gap: 30px;
}
.gridContainer>:first-child{
    /* grid-row: span 10; */
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.itemPreview{
    min-height: 245px;
    padding: 12px;
    position: relative;
    text-align: center;
}

.itemPreview:hover img{
    background-color: rgba(0,0,0,0.5); /* Black background  opacity */
    z-index: 2; 
    background: rgba(0, 0, 0, .6);

}

.imageContainer{
    position: relative;

}
.imageContainer .after{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}
.imageContainer:hover .after{
    cursor: pointer;
    display: block;
    background: rgba(0, 0, 0, 0.8);
}
.after p{
   padding-top: 20%;
}


.previewContainer{
    background-color: #fafafa;
    color: #666666;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #e1e8ed;
}



.previewBtn{
    padding-top: 12px;
    /* display: inline-block; */
}
.previewBtn .btn{
    background-color: #0084B4;
}
.btn{
    box-sizing: border-box;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 1.5;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
}

.itemBookmarking{
    margin: 0px 0px 20px 0px;
}

.bookmarkingContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bookmarkingContent{
    margin-right: 5%;
}
@media screen and (max-width:470px) {
    .bookmarkingContainer button{
        flex-direction: column;
    }
}
.bookmarkingContent button{
    border: none;
    box-sizing: border-box;
    display: block;
    background: #e0e0e0;
    color: #666666;
    font-size: 14px;
    position: relative;
    text-decoration: none;
    padding: 5px 30px 5px 30px;
    border-radius: 4px;
    line-height: 30px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    align-items: center;
    display: flex;
    
}

.bookmarkingContent span , .previewBtn span{
    padding-left: 10px;
}
.previewImg{
    padding-bottom: 10px;
}
.previewImg img{
    width: 100%;
}

.descriptionContainer{
    padding-bottom: 10px;
}


/* tab */
.tabs {

    /* padding: 15px; */
    /* padding: 15px 15px 15px 15px; */
    /* text-align: center; */
    /* width: 50%; */
    background: transparent;
    cursor: pointer;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.274); */
    box-sizing: content-box;
    position: relative;
    outline: none;
  }
  .tabs:not(:last-child){
    /* border-right: 1px solid rgba(0, 0, 0, 0.274); */
  }
  .tabs button{
      border: none;
      padding: 15px;
  }
  .tabs button:hover{
      background-color: #a7a7a7;
  }
  .active-tabs  {
    background: white;
    /* border-bottom: 1px solid transparent; */
  }
  
  .active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    /* background: rgb(88, 147, 241); */
  }
  .content-tabs {
    flex-grow : 1;
  }

  .contentTab{
    background: white;
    /* padding: 20px; */
    width: 100%;
    height: 100%;
    display: none;
  }
  .active-content {
    display: block;
  }


  @media screen and (max-width:921px){
      .gridContainer{
          grid-template-columns: repeat(1,1fr);
      }
  }